In [2]:
import pandas as pd
import os

In [7]:
path = "D:/School/LHL/Capstone project data/pcds_data"

In [8]:
folders = os.listdir(path)

In [ ]:
for folder in folders:
    files = os.listdir(f"{path}/{folder}")
    for file in files:
        station_data = pd.read_csv(f"{path}/{folder}/{file}")

- unzip folder

In [9]:
station_metadata = pd.read_csv(r"C:\Users\maddy\Downloads\climate-stations.csv")
station_metadata

,x,y,STN_ID,STATION_NAME,PROV_STATE_TERR_CODE,ENG_PROV_NAME,FRE_PROV_NAME,COUNTRY,LATITUDE,LONGITUDE,...,LAST_DATE,HLY_FIRST_DATE,HLY_LAST_DATE,DLY_FIRST_DATE,DLY_LAST_DATE,MLY_FIRST_DATE,MLY_LAST_DATE,HAS_MONTHLY_SUMMARY,HAS_NORMALS_DATA,HAS_HOURLY_DATA
0,-101.233333,50.416667,3490,FORT ELLICE,MB,MANITOBA,MANITOBA,CAN,502500000,-1011400000,...,1894-12-01 00:00:00,NaN,NaN,1883-04-01 00:00:00,1894-09-30 00:00:00,1883-01-01 00:00:00,1894-12-01 00:00:00,Y,N,N
1,-101.150000,50.516667,3491,FOXWARREN,MB,MANITOBA,MANITOBA,CAN,503100000,-1010900000,...,2001-09-30 00:00:00,NaN,NaN,1969-07-01 00:00:00,2001-09-30 00:00:00,1969-01-01 00:00:00,2001-09-01 00:00:00,Y,N,N
2,-100.550000,49.916667,3501,HILLVIEW,MB,MANITOBA,MANITOBA,CAN,495500000,-1003300000,...,1920-12-01 00:00:00,NaN,NaN,1885-06-01 00:00:00,1920-11-30 00:00:00,1885-01-01 00:00:00,1920-12-01 00:00:00,Y,N,N
3,-100.633333,50.100000,3513,OAKNER,MB,MANITOBA,MANITOBA,CAN,500600000,-1003800000,...,2007-11-30 00:00:00,NaN,NaN,1962-06-01 00:00:00,2007-11-30 00:00:00,1962-01-01 00:00:00,2007-11-01 00:00:00,N,Y,N
4,-101.100000,49.550000,3524,RESTON,MB,MANITOBA,MANITOBA,CAN,493300000,-1010600000,...,1994-12-01 00:00:00,NaN,NaN,1952-06-01 00:00:00,1994-06-30 00:00:00,1952-01-01 00:00:00,1994-12-01 00:00:00,Y,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8547,-79.546403,43.090845,28037,SMITHVILLE,ON,ONTARIO,ONTARIO,CAN,430527042,-793247052,...,2001-10-31 00:00:00,NaN,NaN,2000-04-01 00:00:00,2001-10-31 00:00:00,2000-04-01 00:00:00,2001-10-01 00:00:00,Y,N,N
8548,-81.366667,43.033333,28071,LONDON NW,ON,ONTARIO,ONTARIO,CAN,430200000,-812200000,...,2001-02-28 00:00:00,NaN,NaN,1999-10-01 00:00:00,2001-02-28 00:00:00,1999-10-01 00:00:00,2001-02-01 00:00:00,Y,N,N
8549,-72.060833,46.303611,29714,LEMIEUX,QC,QUEBEC,QUÃ‰BEC,CAN,461813000,-720339000,...,2023-09-26 08:30:06,1999-09-12 22:00:00,2023-09-26 08:30:06,1999-09-14 00:00:00,2023-09-25 00:00:00,NaN,NaN,Y,N,N
8550,-68.200000,49.133333,30173,BAIE-COMEAU A,QC,QUEBEC,QUÃ‰BEC,CAN,490800000,-681200000,...,2023-09-26 08:30:06,2004-04-07 04:00:00,2023-09-26 08:30:06,2005-01-01 00:00:00,2023-09-25 00:00:00,2005-01-01 00:00:00,2005-12-01 00:00:00,Y,N,Y
8551,-79.395000,43.628611,30247,TORONTO CITY CENTRE,ON,ONTARIO,ONTARIO,CAN,433743000,-792342000,...,2014-07-22 00:00:00,2006-01-01 02:00:00,2010-03-02 16:00:00,2006-01-01 00:00:00,2014-07-22 00:00:00,2006-04-01 00:00:00,2006-12-01 00:00:00,Y,N,Y

In [15]:
station_metadata_bc = station_metadata.loc[station_metadata["PROV_STATE_TERR_CODE"]=="BC", ["STN_ID","LATITUDE","LONGITUDE","PROV_STATE_TERR_CODE"]]
station_metadata_bc = station_metadata_bc.reset_index(drop=True)
station_metadata_bc

      STN_ID   LATITUDE   LONGITUDE PROV_STATE_TERR_CODE
0      52278  494443000 -1145258000                   BC
1       1362  511600000 -1173000000                   BC
2       1407  550400000 -1210700000                   BC
3       1416  560500000 -1215500000                   BC
4       1418  560132003 -1215442001                   BC
...      ...        ...         ...                  ...
1745    1020  500700000 -1204800000                   BC
1746    1038  491100000 -1193200000                   BC
1747   49548  505729600 -1181034600                   BC
1748   51337  483850000 -1232533000                   BC
1749   26991  495200000 -1193500000                   BC

[1750 rows x 4 columns]